/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: linear-gradient(135deg, #e6f0ff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del login */
form {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    width: 620px;
    margin: 0 auto;
}

/* Títulos */
h1 {
    text-align: center;
    color: #1a3d7c; /* azul oscuro tranquilo */
    margin-bottom: 40px;
    font-size: 2em;
}

h2 {
    color: #1a3d7c;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Labels e inputs */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cce0ff; /* azul claro */
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #1a3d7c;
    outline: none;
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background-color: #1a3d7c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 26px;
}

.container {
    text-align: center;
}

button:hover {
    background-color: #3560a3;
}

#loginMessage {
    margin-top: 15px;
    font-weight: 500;
    color: #d9534f; 
    font-size: 0.95em;
}
